* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/28px arial, sans-serif;
    color: #333333;
    background-image: url(assets/wallpaper2.jpg);
    background-size: cover;
}

.fixed-nav-bar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    background-color: white;
  }
  
  .header {
      margin-left: 20px;
      overflow: auto;
  }
  
  .header h1 {
      font-size: 20px;
      color: #080808;
  }

  
  .header ul li {
      list-style: none;
      display: inline-block;
      margin-top: 20px;
      margin-right: 10px;
      padding: 5px;
  }
  .header .menu-items ul  li a {
      text-decoration: none;
      color: #080808;
      padding: 10px;
  }
  
  .menu-items .buy-ticket {
      background-color: orangered;
  }
  
  
  .header a:hover {
      background-color: #9c9ea3;
      color: whitesmoke;
  }
  
  .logo {
      display: inline-block;
      margin-right: 10px;
  }
  .logo a {
      text-decoration: none;
  }
  .menu-items {
      display: inline-block;
  }
  
  .search {
      display: inline-block;
      float: right;
      padding: 20px 20px 0 0;
  }
  
  .search .searchTerm {
      margin-right: 20px;
      margin-bottom: 10px;
      border: 3px solid orangered;
      padding: 5px;
      height: 20px;
      border-radius: 5px;
      outline: none;
      color: #9DBFAF;
  }

  .container {
      width: 90%;
      height: 600px;
      margin: auto;
      padding: 10px;
      overflow: auto;
  }

  .registrasi-box {
      width: 45%;
      height: 430px;
      margin-top: 95px;
      padding: 20px;
      background-color: white;
      border-radius: 5px;
      float: left;
  }

  .deskripsi-box {
      width: 45%;
      float: right;
      height: 430px;
      margin-top: 95px;
  }
  .deskripsi-box h1 {
      margin-top: 40px;
      margin-bottom: 10px;
      font-size: 50px;
      font: 50px/45px arial, sans-serif;
  }

  .registrasi-box .form-style-9 ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-top: 20px;
  }

  .registrasi-box .form-style-9 ul li {
      display: block;
      margin-bottom: 10px;
      min-height: 35px;
  }

  .registrasi-box .form-style-9 ul li .field-style {
    box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
  }

.form-style-9 ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}

.form-style-9 ul li .field-split{
	width: 49%;
}

.form-style-9 ul li input.align-left{
	float:left;
}
.form-style-9 ul li input.align-right{
	float:right;
}
.form-style-9 .combobox-right {
    float: right;
}

/* The guide */
.guide {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .guide input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .guide:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .guide input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .guide input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .guide .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }


/* The Agreement */
.agreement {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.agreement input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.agreement:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .agreement input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.agreement input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .agreement .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.button-submit{
    background-color: #008CBA; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  .deskripsi-box p {
      color: whitesmoke;
  }